#button_pad {
  display: inline-block;
  border-radius: 8px;
  background-color: darkslateblue;
  box-shadow: 0 30px #314062;
  margin: 20px 20px 40px 20px;
  filter: drop-shadow(8px 8px 10px rgba(0,0,0,0.5));
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  background-color: ;
  padding: 10px 10px 20px 10px;

  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid-item button{
  /*! background-color: gradient(); */
  border: 4px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
  font-size: 30px;
  width: 100px;
  height: 100px;
  text-align: center;
  box-shadow: 0 9px #999;
  border-radius: 15px;
  background-image: linear-gradient(to right, #626262, #808080);
  border-inline: 5px solid rgba(0, 0, 0, 0.3);
}

.grid-item button:hover {
  background-color: #67b0cc;
  cursor: pointer;
  transition: 0.2s;
  /*! background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.grid-item button:active {
  /*! background-color: #f9f9f9; */
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: 0.05s;
  background-blend-mode: color;
  background-image: linear-gradient(to right, #626262, #808080);
  border: 5px solid rgb(255, 255, 255);
}

.grid-item button &
